check {
  background-image: linear-gradient(-40deg, #d754ad 0%, #f96785 67%, #fe7333 100%);
   background-image: linear-gradient(-40deg, #af4fec 0%, #d753ad 70%, #eb6078 100%);
   background-image: linear-gradient(-40deg, #d152b8 0%, #d152b8 60%, #d152b8 100%);
   background-image: linear-gradient(-40deg, #6c6ff0 0%, #a354e4 58%, #c65cae 100%);
   background-image: linear-gradient(-40deg, #56acef 0%, #6c6ff0 50%, #9755e7 100%);
   background-image: linear-gradient(-40deg, #9adee6 0%, #00a9ff 25%, #3663cc 100%);
   background-image: linear-gradient(-40deg, #69e7e3 0%, #14bcf3 60%, #1eb4e5 100%);
  
   background-image: linear-gradient(-40deg,
   #69e7e3 0%, #14bcf3 5%, #1eb4e5 10%,
   #9adee6 15%, #00a9ff 20%, #3663cc 25%,
   #56acef 30%, #6c6ff0 35%, #9755e7 40%,
   #6c6ff0 45%, #a354e4 50%, #c65cae 55%,
    #d152b8 60%, #d152b8 65%, #d152b8 70%,
   #af4fec 75%, #d753ad 80%, #eb6078 85%,
   #d754ad 90%, #f96785 95%, #fe7333 100%)
  }