
.panel-bar-graph {
  margin-bottom: 0px;
  height: 176px;
  justify-content: center;
  display: flex;
} 
.bar-graph-container {
 margin: 15px;
 display: flex;
}

.bar-container {
  width: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bar {
  height: 70px;
  width: 35px;
  background-color: rgb(211, 152, 255);;
}

@media only screen and (max-width: 471px){
  .bar {
    width: 20px;
  }
}