* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face { 
  font-family: 'Nunito'; 
  src: url('../font/nunito-600.woff') format('woff');
} 

@font-face { 
  font-family: 'Nunito Bold'; 
  src: url('../font/nunito-700.woff') format('woff');
} 

body {
  font-family: 'Nunito' ,Arial,Helvetica,sans-serif;
}

.bold-font {
  font-family: 'Nunito Bold' ,Arial,Helvetica,sans-serif;
}

.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  outline: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button[type="button"]:hover,
button[type="button"]:active,
button[type="button"]:focus
input:hover,
input:active,
input:focus,
select:hover,
select:active,
select:focus {
  outline: none;
  box-shadow: 0 0 0 1pt #9b51e0;
}
