body {
  background-color: #eebca7;
}


.header-container {
  background: url('https://mydatahack.github.io/static/img/front-page/header-img.jpg');
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 0% 70%;
 
}