@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');

body {
  background-color: #F76C6C;
}

color {color: #F76C6C, #F8E9A1, #A8D0E6, #374785, #24305E}

.header-container {
  text-align: center;
 
}

.header-title{
  font-family: 'Modak', cursive;
  font-size: 80px;
  margin-top: 30px;
  color: white;  
}

.body-container {
  background-color: #F8E9A1;
  height: 2000px;
}
.portofolio-container {
  background-color: #A8D0E6;
  height: 600px;
  z-index: 1;
}