@import url('https://fonts.googleapis.com/css?family=Modak|Noto+Sans|Permanent+Marker&display=swap');

body {
  background-color: #F76C6C;
  font-family: 'Noto Sans', sans-serif;

}

color {color: #F76C6C, #F8E9A1, #A8D0E6, #374785, #24305E}

.header-container {
  text-align: center;
 
}

a {
  color: #24305E;
}

.header-title{
  font-family: 'Modak', cursive;
  font-size: 80px;
  margin-top: 30px;
  color: white;  
}

.body-container {
  background-color: #A8D0E6;
 
}
.portofolio-container {
  background-color: #F8E9A1;
  height: 100%;
  z-index: 1;
}

.portofolio-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.site-info {
  margin-top: 20px;
  padding: 10px 10px 5px 10px;
}

.permanent-marker-font {
  font-family: 'Permanent Marker', cursive;
}

.rotate-img {
  transform: rotateX(180deg);
}