.record-player-row {
  margin: 40px;
}

.record-img-container {
  margin: 20px;
}
.record-img-container {
  width: 363px;
  height: 354px;
}

.record-img.animate {
  animation: spin-record 2s linear infinite;
}

@media (max-width:380px) { 
  .record-img-container {
    width: 250px;
    height: 250px;

  }
}

.record-img-2.animate {
  animation: scratch-record 1s linear;
}

@keyframes spin-record {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes scratch-record {
	0% {
		transform: rotate(0deg);
	}

  25% {
		transform: rotate(40deg);
	}

  50% {
		transform: rotate(10deg);
	}

  75% {
    transform: rotate(35deg);
  }

	100% {
		transform: rotate(0deg);
	}
}